  $color-black:#000;
  $font-montserrat:'Montserrat', sans-serif;
  $font-poppins:'Poppins', sans-serif;
  $bg-color:#FFF3E3;
  $color-box:#333;
  $colorbox-h1:#B88E2F;

.container{
   
    max-width: 1440px;
    margin: 0px auto;
}
.navbar{
    width: 1286px;
   
    padding-left: 54px;
    padding-right:100px;
    display: inline-flex;
   
    &__content{
        display: inline-flex;
        gap: 200px;
        padding: 30px;
    }

    &__logo{
          
        img{
        width: 50px;
        height: 32px; 
       }
          
          b{
            color: $color-black;
            font-family: $font-montserrat;
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

    }
    &__menus{
        
       ul{
        display: inline-flex;
        gap:60px;
        list-style: none;
            
        a{
            text-decoration: none;
            font-family: $font-poppins;
            color: $color-black;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

        }
       }
    }
    &__icons{
          padding: 36px;
          display: inline-flex;
          gap: 45px;
          
        


             &__icons-content{
              width: 28px;
              height: 28px;
              flex-shrink: 0;
             }
        
    }

}

.mask-group__content{
    background-image: url(./images/scandinavian-interior-mockup-wall-decal-background\ 1\ \(1\).jpg);
    height: 717px;
    position: relative;

    .mask-group__box{
        padding-left: 41px;
        width: 643px;
        height: 443px;
        border-radius: 10px;
        background: $bg-color;
        position: absolute;
        top: 153px;
        right: 58px;



        p{
            margin-top: 62px;
            color: $color-box;
            font-family: $font-poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 3px;
        }

        h1{ 
            margin-top: 6px;
            width: 559px;
            height: 127px;
            color: $colorbox-h1;
            font-family: $font-poppins;
            font-size: 52px;
            font-style: normal;
            font-weight: 700;
            line-height: 65px; 
            margin-bottom: 17px;
        }


        span{
           
            color: $color-box;
            font-family: $font-poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; 
        }


        button{
            margin-top: 46px;
            display: inline-flex;
            padding: 25px 72px;
            align-items: flex-start;
            gap: 10px;
            background: $colorbox-h1;
            border:none;
            margin-bottom: 40px;
        }
    }
}


.browsetherange{
    width: 1183px;
    height:685px;
    position: absolute;
    top:869px;
    left:131px;
    

    &__imgs {
        width: 381px;
        height:480px;
        display: flex;
        gap:20px;
        position: absolute;
        top:130px;
        margin-top: 48px;
       

}
   

    &__text {
        text-align: center;
         padding:20px 0px;
       
        h3{
            font-family:$font-poppins;
            font-weight: 700;
            font-size: 32px;
            line-height: 48px;
            margin-bottom: 0px;
        }
         p{
            
            font-family: $font-poppins;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;

        }
         span {
            font-family: $font-poppins;
            font-size: 20px;
            font-weight: 800;
        }

      
    }

        
}

.browsetherange__imgs1{
    border-radius: 20px;
}

.browsetherange__ims2{
    border-radius: 20px;
}

.browsetherange__imgs3{
    border-radius: 20px;
}
